<header class="navbar">
	<div class="navbar__left">
		<a class="navbar__brand" href="/dashboard">To Do App</a>
		<nav class="navbar__nav" aria-label="Primary">
			<a href="/dashboard" class="navbar__link navbar__link--active">
				Dashboard
			</a>
			<a href="/todo" class="navbar__link">To do</a>
			<a href="/users" class="navbar__link">Users</a>
		</nav>
	</div>

	<div class="navbar__right">
     <p-button
      label="New To do"
      icon="pi pi-plus"
      severity="primary"
      [outlined]="true"
    />
	</div>
</header>
